*.rbc
.rspec
/log
/tmp
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
.DS_Store

config/initializers/secret_token.rb
config/secrets.yml
/.env

## Environment normalisation:
/.bundle
/vendor/bundle

.rvmrc

.powenv

*.iml
.idea/
*.ipr
*.iws

*.sw*

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace


.history/